body{
    background-color: #e6e6e6;

}
.select{   
    box-shadow:  2px 2px 2px 1px rgba(80, 80, 80, 0.2);
    max-width: 1200px;
    margin: auto;
}
.jumbotron{
    background-color: rgba(131, 235, 13, 0.712);
    color: rgb(0, 0, 0);
    text-align: center;    
    max-height: 35px;
}
h1{
    margin-top: 10px;
}
h5, h6{
    margin: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}
img{    
    width: 15px;
    height: 15px;
}
.option-collapse{
    
    margin: 10px;
}
a{
    color: #000000;    
}
a :hover{
    color: #ffffff;  
}
textarea{
    width: 100%;
    max-height: 90px;
    min-height: 90px;
    margin-bottom: 9px;
    border: none;
    box-sizing: border-box;
}

.container{        
    margin-top: 10px;     
}
.card-hotel{   
    flex: 1 200px;
    padding: 20px;    
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 0px;
    max-width: 100%;
}
.hotel{
    background-color: #f6f6f6;
    padding: 15px;
    margin 3px 3px 3px 3px;
}
.card-img-top{
    width: 100%;
    box-sizing: content-box;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.head{
    width: 100%;
    height: 400px;
    box-shadow:  2px 2px 2px 2px rgba(86, 95, 35, 0.431);
}
.btn-hotel{
    max-width: 100%;
    border-radius: 0px;    
}
.btn-hotel :hover{
    box-shadow:  3px 3px 3px 3px rgba(80, 80, 80, 0.2);   
}
footer{    
    background-color: rgba(131, 235, 13, 0.712);
    width: 100%;
    height: 150px;
    margin-top: 10px;    
    bottom: 0px;                    
}
.d-flex{    
    margin-right: 10px;
}
.terminos{
    text-align: justify;
    margin: 30px;
}
.content{    
    margin:0 auto;
    padding-top: 10px;    
}
