$green:rgba(145, 255, 2, 0.623);
$gris:rgba(80, 80, 80, 0.2);
$text:rgb(0, 0, 0);
$blanco-tenue:#e6e6e6;
$blanco:#ffffff;
$shadow:rgba(80, 80, 80, 0.2);

@mixin margenes ($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
body{
    background-color: $blanco-tenue;
}
.select{   
    box-shadow: 2px 2px 2px 1px $gris;
    max-width: 1200px;
    margin: auto;
}
.jumbotron{
    background-color: $green;
    color: $text;
    text-align: center;    
    max-height: 35px;
}
h1{
    @include margenes(10px, 0px, 0px, 0px);   
}
h5, h6{
    @include margenes(0px, 0px, 0px, 0px); 
}
p{
    @include margenes(10px, 0px, 0px, 0px); 
    padding: 0px;
}
img{    
    width: 15px;
    height: 15px;
}
.option-collapse{
    
    @include margenes(10px, 10px, 10px, 10px); 
}
a{
    color: $text;    
}
a :hover{
    color: $blanco;  
}
textarea{
    width: 100%;
    max-height: 90px;
    min-height: 90px;    
    @include margenes(0px, 0px, 9px, 0px); 
    border: none;
    box-sizing: border-box;
}

.container{        
    @include margenes(10px, 0px, 0px, 0px);      
}
.card-hotel{   
    flex: 1 200px;
    padding: 20px;
    @include margenes(10px, 10px, 0px, 0px);
    border-radius: 0px;
    max-width: 100%;
}
.hotel{
    background-color:$blanco-tenue;
    padding: 15px;
    @include margenes(3px, 3px, 3px, 3px);
}
.card-img-top{
    width: 100%;
    box-sizing: content-box;
    height: 200px;
    @include margenes(5px, 0px, 5px, 0px);
}
.head{
    width: 100%;
    height: 400px;
    box-shadow:  2px 2px 2px 2px $gris;
}
.btn-hotel{
    max-width: 100%;
    border-radius: 0px;    
}
.btn-hotel :hover{
    box-shadow:  3px 3px 3px 3px $shadow;   
}
footer{    
    background-color: $green;
    width: 100%;
    height: 150px;
    @include margenes(10px, 0px, 0px, 0px);   
    bottom: 0px;                    
}
.d-flex{ 
    @include margenes(0px, 10px, 0px, 0px);
}
.terminos{
    text-align: justify;
    @include margenes(30px, 30px, 30px, 30px); 
}
.content{    
    margin: 0 auto;
    padding-top: 10px;    
}
