@gris: rgba(80, 80, 80, 0.2);
@verde: rgba(131, 235, 13, 0.712);

.margenes (@top, @right, @bottom, @left) {
    margin-top: @top;
    margin-right: @right;
    margin-bottom: @bottom;
    margin-left: @left;
}

body {
    background-color: #e6e6e6;
}

.select {
    box-shadow: 2px 2px 2px 1px @gris;
    max-width: 1200px;
    margin: auto;
}

.jumbotron {
    background-color: @verde;
    color: black;
    text-align: center;
    max-height: 35px;
}

h1 {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h5,
h6 {
    .margenes (0px, 0px, 0px, 0px);
}

p {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
}

img {
    width: 15px;
    height: 15px;
}

.option-collapse {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

a {
    color: black;
}

a :hover {
    color: #ffffff;
}

textarea {
    width: 100%;
    max-height: 90px;
    min-height: 90px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 9px;
    margin-left: 0px;
    border: none;
    box-sizing: border-box;
}

.container {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.card-hotel {
    flex: 1 200px;
    padding: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 0px;
    max-width: 100%;
}

.hotel {
    background-color: #e6e6e6;
    padding: 15px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.card-img-top {
    width: 100%;
    box-sizing: content-box;
    height: 200px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.head {
    width: 100%;
    height: 400px;
    box-shadow: 2px 2px 2px 2px @gris;
}

.btn-hotel {
    max-width: 100%;
    border-radius: 0px;
}

.btn-hotel :hover {
    box-shadow: 3px 3px 3px 3px @gris;
}

footer {
    background-color: @verde;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    bottom: 0px;
}

.d-flex {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.terminos {
    text-align: justify;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.content {
    margin: 0 auto;
    padding-top: 10px;
}